# 2. Liga

\# | When | Who | Where | Result
---|---|---|---|---
{% for e in gameplan if e['league'] -%}
{% if e['home'] == 'GAK 1902' -%}
**{{loop.index}}.** | **{{e['date']}} {{e['time']}}** | **{{e['away']}}** | **home** | **{{e['res']}}**
{% else -%}
{{loop.index}}. | {{e['date']}} {{e['time']}} | {{e['home']}} | away | {{e['res']}}
{% endif -%}
{% endfor %}

# ÖFB-CUP

\# | When | Who | Where | Result
---|---|---|---|---
{% for e in gameplan if not e['league'] -%}
{% if e['home'] == 'GAK 1902' -%}
**{{loop.index}}.** | **{{e['date']}} {{e['time']}}** | **{{e['away']}}** | **home** | **{{e['res']}}**
{% else -%}
{{loop.index}}. | {{e['date']}} {{e['time']}} | {{e['home']}} | away | {{e['res']}}
{% endif -%}
{% endfor %}

^(Last edit: {{ timestamp }})
