<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="300">
<title>GAK ticket watch</title>
</head>
<body>
{% for event in events %}
<h1>{{event["title"]}}</h1>
<p>Available: {{event["avail"]}}</p>
<p>Sold (w/o Sponsors, VIP, etc.): {{event["sold"]}}</p>
<p>Sold (w/o est. Season tickets, Sponsors, VIP, etc.): {{event["sold"] - 1540}}</p>
<p>Sold (w est. Sponsors, VIP, etc.): {{event["sold"] + 896}}</p>
<br>
{% endfor %}
</body>
</html>
<!-- Source code: https://github.com/sigttou/gak-parsers/ -->
